* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 200;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 55, 55);
  padding: 20px;
}

header a {
  text-decoration: none;
  position: relative;
  padding-left: 30px;
  color: #fff;
}

header a:hover {
  text-decoration: underline;
}
